{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# icon by Apostolos Paschalidis interactivemania #}
        <img width="28" height="28" alt="Time" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAB7UlEQVR42r2VTShEYRiFzfU3jRSi/CSRZEF2mFIjMxsbSrGwsaBYULbMykZZWtjZaEqpWVjMzspE2WosWJCIpY0U4+c66tw6fc3MvbkzM/X0fr/vmfPe77u3wrbtsuJpEX6BP8oiqELFEHUVY+wEPTJWMsFKxl2wz7ZVfEEmZqwHd+ADtPsV9eJuGthkS+ZK5vBIBB9Bsx+XbmK94IViWcbV/C7dT7NbOeMU+QLfbF+BoCR2FVIKXYUQyFDk23FI5g2Xuq8VLHsVVHdTIpACe9K/AJYI6b5NrgnLuCeHSRGYA12Gy2knoYj3yTNP5yq1viurQA37/eCVG59AB8cTIniSoyqHnHtnXOF4rSOq6upyQxInZHzYOTxkTOaiMv7F+ABa1KnTaAAxEAHj4Fo2TxouUjKXlLKmDbEfxgMQBk1a0hgnTTKgjmuqcjj5AN1gEdjiKu4ICzEVjEiCLKMNtsWBfqZOjRN8K/0drjlm/40x4sXhEOcto6yzcj9t4Rm0cc0AyJoO8z3DCTBa4MpY4IyJPokN1o3yDzJvFDQYp9QT6nLBEWS8kedt5Tn9AeMeCkxcwGUQXErJlvQPOW3JFzDeNP9yuUaxc1Dt9gL3I2gxNoJ7MGO48yfoUtoREJK50gia5SuLoJ5IH4Kl5Rd9TFtTIy1XIQAAAABJRU5ErkJggg==">
        <span>XHProf</span>
    {% endset %}
    {% if not collector.profiling %}
        {% set text %}
            {% spaceless %}
                <span>Not profiling</span>
            {% endspaceless %}
            {% if not collector.xhprofextensionexists %}
                <br />
                <span style="color:red;">Xhprof extension not exists</span>
            {% endif %}
        {% endset %}
    {% endif %}
    {% set icon %}
        {% if collector.profiling %}
            <a href="{{ collector.xhprofurl }}">{{ icon }}</a>
        {% else %}
            <span>{{ icon }}</span>
        {% endif %}
    {% endset %}
    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

